{
    "porcupine": {
        "access_key": "",
        "keyword_paths": ["data/tulio_mac.ppn"],
        "model_path": "data/porcupine_params_it.pv"
    },
    "elevenlabs": {
        "api_key": ""
    },
    "cohere": {
        "api_key": ""
    }
}